@font-face {
  font-family: 'object-sans';
  src: url('../fonts/ObjectSans-Bold.eot');
  src: url('../fonts/ObjectSans-Bold.woff2') format('woff2'),
       url('../fonts/ObjectSans-Bold.woff') format('woff'),
       url('../fonts/ObjectSans-Bold.ttf') format('truetype');
}

:root {
  --bg: #02070c;
  --text: #dbe1e8;
  --text-sub: #9cb7d6;
  --border: #223b57;

  --bg-alt: #171f36;
  --text-alt: var(--text);

  /*--pink: #e23a98;
  --blue: #6BBBDA;*/

  --accent: #4cc4d7;
  --complement: #C18DD8;

  --font-body: 'inter', sans-serif;
  --font-heading: 'object-sans', georgia, serif;
  --font-mono: 'dm mono', monospace;
  

  --width-container: 1200px;
  
}

@media screen and (min-width: 700px) {
  :root {
    --font-size: 18px;
    --font-size-xl: 3em;
    --font-size-lg: 2em;
    --font-size-md: 1.75em;
    --font-size-sm: .8em;


    --width-content: 700px;

    --sp: 3rem;
    --sp-sm: 1.25rem;
    --sp-lg: 5rem;
    --sp-edge: 2rem;
    --sp-gap: 2rem;
  }
}
@media screen and (max-width: 699px) {
  :root {
    --font-size: 1em;
    --font-size: 100%;
    --font-size-xl: 2em;
    --font-size-lg: 1.65em;
    --font-size-md: 1.25em;
    --font-size-sm: .8em;
    

    --width-content: 100%;
    
    --sp: 2rem;
    --sp-sm: 1rem;
    --sp-lg: 3rem;
    --sp-edge: 1rem;
    --sp-gap: 1rem;
  }
}

body {
  background: var(--bg);
  color: var(--text);

  font-family: var(--font-body);
  font-size: var(--font-size);
  line-height: 1.45;
  margin: 0;
}
::selection {
  background-color: #113558;
}
a {
  color: var(--text-sub);
}
h1 {
  font-family: var(--font-heading);
}
img {
  max-width: 100%;
}
hr {
  border: none;
  outline: none;
  height: 7px;
  position: relative;
  max-width: var(--width-content);
  margin-top: var(--sp-lg);
  margin-left: 0;
  margin-right: 0;

  background-image: url('/img/sparkles.gif');
  background-repeat: no-repeat;
  background-position: center;
}
hr::before,
hr::after {
  content: '';
  position: absolute;
  top: 3px;
  background-color: var(--border);
  width: calc(50% - 50px);
  height: 1px;
}
hr::before {
  left: 0;
}
hr::after {
  right: 0;
}




.ls-list,
.page-content > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ls-list > li,
.page-content > ul > li {
  margin-left: 1.5em;
  margin-bottom: .15em;
}
.ls-list > li:before,
.page-content > ul > li:before {
  color: var(--accent);
  content: '–';
  margin-left: -1.25em;
  margin-right: .75em;
} 


.page-content > ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

  counter-reset: number;
}
.page-content > ol > li {
  margin-left: 2em;
  margin-bottom: .15em;
  
  position: relative;
}
.page-content > ol > li:before {
  counter-increment: number;
  color: var(--complement);
  content: counter(number)'.';
  font-weight: bold;

  position: absolute;
  left: -1.5em;
  /* margin-left: -1.25em;
  margin-right: .75em; */
} 

.page-content {
  margin-bottom: var(--sp-lg);
}







.site-header {
  background-color: var(--bg-alt);
  /* padding: 1em var(--sp-edge); */

  font-size: var(--font-size-sm);
}
@media screen and (min-width: 800px) {
  .site-header {
    display: grid;
    grid-template-columns: 1fr var(--width-content) 1fr;
  }
  .site-nav {
    grid-column: 2 / 3;
  }
  .header__title > a {
    padding: .75em 0;
  }
  .site-nav__item > a {
    display: block;
    padding: .75em;
    text-decoration: none;
    transition: .2s ease-out;
    border-bottom: 2px solid var(--bg-alt);
  }
  .site-nav__item > a:hover {
    border-bottom: 2px solid var(--complement);
  }

}
@media screen and (max-width: 799px) {
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .header__title {
    flex: 1 0 90%;
  }
  .site-nav__item {
    margin-right: .5em;
    padding: .25em .5em .5em;
  }
  .site-nav__item > a { 
    padding: .5em;
    text-decoration: none;
  }
}


.header__title {
  font-weight: bold;
  position: relative;
  margin-right: auto;
}
.header__title > a { 
  display: flex;
  align-items: center;
}
.header__icon {
  width: 1.25em;
  margin-right: .75em;
  /* position: absolute;
  left: -2em;
  margin-top: 2px; */
}
.header__title > a {
  color: var(--text);
  text-decoration: none;
}

.header__date {
  grid-column: 3 / 4;
  text-align: right;
  text-transform: lowercase;
}



.site-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}


.watermelon > .ls-outer {
  fill: #69eb69;
}
.watermelon > .ls-inner {
  fill: #eb5151;
}
.watermelon > .ls-circle {
  fill:#ff7d56;
}





.ls-container {
  margin-left: auto;
  margin-right: auto;
  padding: var(--sp) var(--sp-edge);
  max-width: var(--width-content);
}




.ls__content {
  max-width: var(--width-content);
  margin-left: auto;
  margin-right: auto;
  padding: 2em var(--sp-edge);
}

.ls {
  padding-bottom: var(--sp-lg);
}

.ls__header {
  background-color: var(--bg-alt);
  padding: var(--sp-lg) 0 var(--sp-sm);

  display: grid;
  grid-template-columns: 1fr var(--width-content) 1fr;
}
.ls__name {
  grid-column: 2 / 3;
}
.ls__meta {
  grid-column: 2 / 3;

  margin-bottom: .5em;
  
  color: var(--text-sub);
  font-size: var(--font-size-sm);
  font-weight: bold;
}

.ls__location {
  margin-left: 1em;
}
.ls__location::before {
  content: '◆';
  margin-right: 1em;
}

.ls__status {
  grid-column: 2 / 3;
  color: var(--text-sub);
  font-size: var(--font-size-sm);

  margin-top: 0em;
  margin-bottom: .5em;
}

.ls__name,
.page-title {
  margin: 0 0 .5rem;

  color: var(--accent);
  font-size: var(--font-size-xl);
  font-weight: normal;
  line-height: 1.1;
}
.ls__name > a {
  color: var(--accent);
  text-decoration: none;
}
.ls__drop {
  margin-top: .25em;
  margin-bottom: 2em;
}



.ls__info {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
.ls__info > li {
  margin-bottom: .5em;
}


h2 {
  font-family: var(--font-heading);
  font-size: var(--font-size-md);
  font-weight: normal;
  margin: 1.5em 0 .25em;
  color: var(--complement);
}
h2 + p,
h1 + h2 {
  margin-top: .5em;
}
h3 {
  /* font-size: 1.15em; */
  margin: 0;
}




.ls__col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}

.ls__difficulty {
  color: var(--text-sub);
  font-size: 1.15em;
  font-weight: normal;
  margin: .25em 0 .5em;
}
.ls__champion { 
  margin: 0;
}


.ls__champions-list {
  /* display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: var(--sp);
  align-items: baseline; */

  list-style: none;
  margin: 0 0 var(--sp-sm);
  padding: 0;
}
.ls__champions {
  grid-column: 2 / 3;
}


.ls__shields-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ls__champions-item,
.ls__shields-list {
  margin-bottom: .5em;
}

.ls-page .ls__shield,
.ls-page .ls__element {
  font-weight: bold;
  font-size: 1.25em;
}
.ls__champion-count,
.ls__shields-count {
  color: var(--text-sub);
  font-weight: normal;
  margin-left: 0;
}
.ls__champion-desc,
.ls__shields-desc,
.ls__burn-desc {
  margin-top: 0;
}



.ls__champion::before,
.ls__element::before {
  margin-right: .25em;
}

.ls__champion--Overload::before {
  content: url('/svg/overload-white.svg');
}
.ls__champion--Unstoppable::before {
  content: url('/svg/unstoppable.svg');
}
.ls__champion--Barrier::before {
  content: url('/svg/barrier.svg');
}
.ls__champion:not(:last-of-type)::after,
.ls__shield:not(:last-of-type)::after {
  content: ', ';
}

.ls__element--Arc::before {
  content: url('/svg/arc.svg');
}
.ls__element--Stasis::before {
  content: url('/svg/stasis.svg');
}
.ls__element--Solar::before {
  content: url('/svg/solar.svg');
}
.ls__element--Void::before {
  content: url('/svg/void.svg');
}





.ls__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ls__list > li {
  margin-bottom: .5em;
  position: relative;
}





.loadout {
  list-style-type: none;
  margin: .5em 0 0;
  padding: 0;
}
.loadout > li {
  margin-bottom: .15em;
}






/* Calendar
================================== */

@media screen and (min-width: 900px) {
  .calendar {
    display: grid;
    grid-template-rows: auto 8em;
    grid-auto-rows: minmax(8em, auto);
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px;
  }
  .calendar-title,
  .calendar-desc {
    text-align: center;
  }
  .calendar--oct {
    grid-template-rows: auto repeat(6, 1fr);
  }
  .month-label {
    text-align: center;
  }
  .day {
    padding: clamp(.5em, 1em, 1vw);
    border: 1px solid var(--border);
  }
  .ls-name {
    font-size: clamp(.85em, 1em, 1vw);
    margin: .25em 0 0;
  }
  .ls-drop {
    font-size: .85em;
    margin: .25em 0 0;
  }
  .page-footer {
    text-align: center;
  }
}
@media screen and (max-width: 899px) {
  .day {
    font-size: 1em;
    padding: .35em 1em .5em;
    border-bottom: 1px solid var(--border);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .day-label {
    display: none;
  }
  .day::before {
    position: absolute;
    left: 1rem;
  }
  .ls-name {
    margin: 0 0 0 2rem;
    font-weight: bold;

  }
  .ls-drop {
    font-size: .85em;
    margin: .25em 0 0 2rem;
  }
  .day--disabled {
    height: 0!important;
    padding: 0;
    border: none;
  }
  .day--disabled.day::before {
    content: none;
  }
  
  /* delete this later lol*/
  .day--last {
    visibility: hidden;
    height: 0;
    padding: 0;
  }

}

.calendar-title {
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.25;

  margin: var(--sp) 1rem 0 1rem;
}
.calendar-desc {
  /* color: var(--text-sub);
  font-size: var(--font-size-sm); */
  margin: var(--sp) 1rem 0;
}

.calendar-wrapper {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--sp-lg);
}
.month-label {
  font-weight: normal;
  font-size: var(--font-size-lg);
  color: var(--accent);
  line-height: 1.15;
  margin: .5rem 1rem 1rem;
}
.calendar {
  list-style-type: none;
  margin: 0;
  padding: 0 2px;
  box-sizing: border-box;

  counter-reset: dayCounter;
}
.day-label {
  padding: .5em 0;

  font-size: var(--font-size-sm);
  color: var(--complement);
  font-weight: bold;
  text-align: center;
}
.day {
  position: relative;
}
.day--active { 
  counter-increment: dayCounter;
}
.day--active::before {
  content: counter(dayCounter);

  font-weight: bold;
  color: var(--text-sub);
}
.day--disabled.day::before {
  opacity: .5;
}
.day--today {
  background: #082141;
}




.label {
  color: var(--complement);
  font-size: .85em;
  margin: 0;
}

.ls-name { 
  font-weight: bold;
  line-height: 1.25;
  /* word-break: break-word; */
}
.ls-name > a {
  color: var(--text);
}
.ls-drop {
  color: var(--text-sub);
}





.page-footer {
  margin: var(--sp-lg) auto;

  color: var(--text-sub);
}
.page-footer > p {
  margin-left: var(--sp-edge);
  margin-right: var(--sp-edge);
}





.build {
  border-collapse: collapse;
}
.build th,
.build td {
  padding: .5em 1em;
  border: 1px solid var(--border);
}