---
layout: layout
---

<main class="ls-container">

<h1 class="page-title">{{ title }}</h1>

{{ content }}

<h2>Season of the Haunted</h2>

<p>Season 17 (May 24, 2022 – August 23, 2022)</p>

<ul class="ls-list">
  <li><a href="/sector/k1-crew-quarters">K1 Crew Quarters</a> (The Moon)</li>
  <li><a href="/sector/k1-logistics">K1 Logistics</a> (The Moon)</li>
  <li><a href="/sector/k1-revelation">K1 Revelation</a> (The Moon)</li>
  <li><a href="/sector/k1-communion">K1 Communion</a> (The Moon)</li>
  <li><a href="/sector/the-conflux">The Conflux</a> (Nessus)</li>
  <li><a href="/sector/metamorphosis">Metamorphosis</a> (Savathȗn’s Throne World)</li>
  <li><a href="/sector/sepulcher">Sepulcher</a> (Savathȗn’s Throne World)</li>
  <li><a href="/sector/extraction">Extraction</a> (Savathȗn’s Throne World)</li>
  <li><a href="/sector/excavation-site-xii">Excavation Site XII</a> (The EDZ)</li>
  <li><a href="/sector/skydock-iv">Skydock IV</a> (The EDZ)</li>
  <li><a href="/sector/the-quarry">The Quarry</a> (The EDZ)</li>
</ul>


<hr> 

<h2>Season of the Risen</h2>

<p>Season 16 (February 22, 2022 – May 24, 2022)</p>

<ul class="ls-list">
  <li><a href="/sector/veles-labyrinth">Veles Labyrinth</a> (The Cosmodrome)</li>
  <li><a href="/sector/exodus-garden-2a">Exodus Garden 2A</a> (The Cosmodrome)</li>
  <li><a href="/sector/aphelion's-rest">Aphelion’s Rest</a> (The Dreaming City)</li>
  <li><a href="/sector/bay-of-drowned-wishes">Bay of Drowned Wishes</a> (The Dreaming City)</li>
  <li><a href="/sector/chamber-of-starlight">Chamber of Starlight</a> (The Dreaming City)</li>
  <li><a href="/sector/k1-revelation">K1 Revelation</a> (The Moon)</li>
  <li><a href="/sector/k1-communion">K1 Communion</a> (The Moon)</li>
  <li><a href="/sector/k1-crew-quarters">K1 Crew Quarters</a> (The Moon)</li>
  <li><a href="/sector/k1-logistics">K1 Logistics</a> (The Moon)</li>
  <li><a href="/sector/metamorphosis">Metamorphosis</a> (Savathȗn’s Throne World)</li>
  <li><a href="/sector/sepulcher">Sepulcher</a> (Savathȗn’s Throne World)</li>
  <li><a href="/sector/extraction">Extraction</a> (Savathȗn’s Throne World)</li>
</ul>

<hr>

<h2>Season of the Lost</h2>

<p>Season 15 (August 24, 2021 – February 22, 2022)</p>

<ul class="ls-list">
  <li><a href="/sector/bay-of-drowned-wishes">Bay of Drowned Wishes</a> (The Dreaming City)</li>
  <li><a href="/sector/chamber-of-starlight">Chamber of Starlight</a> (The Dreaming City)</li>
  <li><a href="/sector/aphelion's-rest">Aphelion’s Rest</a> (The Dreaming City)</li>
  <li><a href="/sector/the-empty-tank">The Empty Tank</a> (The Tangled Shore)</li>
  <li><a href="/sector/k1-logistics">K1 Logistics</a> (The Moon)</li>
  <li><a href="/sector/k1-communion">K1 Communion</a> (The Moon)</li>
  <li><a href="/sector/k1-crew-quarters">K1 Crew Quarters</a> (The Moon)</li>
  <li><a href="/sector/k1-revelation">K1 Revelation</a> (The Moon)</li>
  <li><a href="/sector/concealed-void">Concealed Void</a> (Europa)</li>
  <li><a href="/sector/bunker-e15">Bunker E15</a> (Europa)</li>
  <li><a href="/sector/perdition">Perdition</a> (Europa)</li>
</ul>


<hr>

<h2>Season of the Splicer</h2>

<p>Season 14 (May 11, 2021 – August 24, 2021)</p>

<ul class="ls-list">
  <li>The Quarry (The EDZ)</li>
  <li>Scavenger’s Den (The EDZ)</li>
  <li>Excavation Site XII (The EDZ)</li>
  <li>Exodus Garden 2A (The Cosmodrome)</li>
  <li>Veles Labyrinth (The Cosmodrome)</li>
  <li>Concealed Void (Europa)</li>
  <li>Bunker E15 (Europa)</li>
  <li>Perdition (Europa)</li>
  <li>K1 Logistics (The Moon)</li>
  <li>K1 Communion (The Moon)</li>
  <li>K1 Crew Quarters (The Moon)</li>
  <li>K1 Revelation (The Moon)</li>
</ul>


</main>