---
layout: layout
---

<main>

<h1 class="calendar-title">Legend (1320) Lost Sector Calendar</h1>


{% comment %} 
<section class="calendar-wrapper">
  <h1 class="month-label">December 2021 – Legend Lost Sectors (1320)</h1>
  <ol class="calendar calendar--dec">
    <li class="day-label">Sunday</li>
    <li class="day-label">Monday</li>
    <li class="day-label">Tuesday</li>
    <li class="day-label">Wednesday</li>
    <li class="day-label">Thursday</li>
    <li class="day-label">Friday</li>
    <li class="day-label">Saturday</li>
  </ol> 
</section>

<section class="calendar-wrapper">
  <h1 class="month-label">January 2021</h1>
  <ol class="calendar calendar--jan">
    <li class="day-label">Sunday</li>
    <li class="day-label">Monday</li>
    <li class="day-label">Tuesday</li>
    <li class="day-label">Wednesday</li>
    <li class="day-label">Thursday</li>
    <li class="day-label">Friday</li>
    <li class="day-label">Saturday</li>
  </ol> 
</section> {% endcomment %}

</main>

<script src="/js/calendar2.js"></script>

