---
layout: layout
---

<main>

<h1 class="calendar-title">Lost Sector Calendar</h1>

<p class="calendar-desc">March 2: this is the currently <strong>projected</strong> sector rotation. Drop rotation is confirmed.</p>

</main>

<script src="/js/calendar_interim.js"></script>

