---
layout: layout
---

<main>

<h1 class="calendar-title">Legend (1320) Lost Sector Calendar</h1>


</main>

<footer class="page-footer">
  <p>Note: the new season starts on February 22, so the rotation will most likely change.</p>
</footer>

<script src="/js/calendar.js"></script>

