---
layout: layout
---

<main>


<section class="calendar-wrapper">
  <h1 class="month-label">November 2021 – Legend (1320) Lost Sectors</h1>
  <ol class="calendar calendar--nov">
    <li class="day-label">Sunday</li>
    <li class="day-label">Monday</li>
    <li class="day-label">Tuesday</li>
    <li class="day-label">Wednesday</li>
    <li class="day-label">Thursday</li>
    <li class="day-label">Friday</li>
    <li class="day-label">Saturday</li>
  </ol> 
</section>

</main>

<script src="/js/calendar.js"></script>

