---
layout: layout
---

<main>

<article class="ls">
  <header class="ls__header">
    <div class="ls__meta">
      <span class="ls__location">The Tangled Shore</span> 
    </div>
    <h1 class="ls__name">The Empty Tank</h1>
    <div class="ls__status">
      Next rotation: February 10 ✧ Drops: Arms
    </div>
  </header>
  <section class="ls__content">

  <h2>Champions</h2>
  <ul class="ls__champions-list">
    <li class="ls__champions-item">
      <h3 class="ls__champion">
        Overload
      </h3>
      <div class="ls__col">
        <div class="ls__col--legend">
          <h4 class="ls__difficulty">Legend <span class="ls__champion-count">(2)</span></h4>
          <p class="ls__champion-desc">Fallen Captains. One in entrance before the first room; second one spawns in boss room from the left door, after you kill the initial three enemies.</p>
        </div>
        <div class="ls__col--master">
          <h4 class="ls__difficulty">Master <span class="ls__champion-count">(4)</span></h4>
          <p class="ls__champion-desc">One when you enter the first room, by the DJ console; another comes through the door when you activate the console.</p>
        </div>
      </div>
    </li>
    <li class="ls__champions-item">
      <h3 class="ls__champion">
        Barrier
      </h3>
      <div class="ls__col">
        <div>
          <h4 class="ls__difficulty">Legend <span class="ls__champion-count">(3)</span></h4>
          <p class="ls__champion-desc">2 Barrier Servitors that shield lots of ads; 1 Barrier Colossus.</p>
        </div>
        <div>
          <h4 class="ls__difficulty">Master <span class="ls__champion-count">(5)</span></h4>
          <p class="ls__champion-desc">3 Barrier Servitors that shield lots of ads; 2 of them spawn together in the boss room. 2 Barrier Colossuses in the boss room.</p>
        </div>
      </div>
    </li>
  </ul>
  
  <h2>Burn</h2>
  <h3 class="ls__element">Solar</h3>
  <p class="ls__burn-desc">+50% Solar damage, dealt and received.</p>
 
  <h2>Shields</h2>
    <div class="ls__col">
      <div>
        <h3 class="ls__difficulty">Legend</h3>
          <ul class="ls__shields-list">
            <li class="ls__shields-item">
              <h4 class="ls__shield ls__element">
              Arc <span class="ls__shields-count">(1)</span>
              </h4>
              <p class="ls__shields-desc">Fallen Captain when you interact with the console in the first room.</p>
            </li>
          </ul>
        </div>
      <div>
        <h3 class="ls__difficulty">Master</h3>
          <ul class="ls__shields-list">
            <li class="ls__shields-item">
              <h4 class="ls__shield ls__element">
              Arc <span class="ls__shields-count">(2)</span>
              </h4>
              <p class="ls__shields-desc">Fallen Captains, when you first enter the boss room.</p>
            </li>
          </ul>
        </div>
    </div>
    
  <h2>Modifiers</h2>
  {% for modifiers in legend.modifiers %}
    <p><strong>{{ modifiers.name }}</strong> – {{ modifiers.desc }}</p>
  {% endfor %}

  <h2>Notes</h2>
  <p>{{ legend.notes }}</p>

  </section>
</article>

</main>
