---
layout: layout
---

<main class="ls-container konami-code">


<article class="ls">
  <div class="ls__meta">
    Legend (1320)<span class="ls__location"></span>
  </div>
  <h1 class="ls__name"><a href="#" class="ls__link"></a></h1>
  <p class="ls__drop">Drops: <strong class="ls__drop-item"></strong></p>

  <ul class="ls__info">
      <li class="ls__champion-wrapper">
        <strong>Champions</strong>:
      </li>
      <li>
        <strong>Burn</strong>: <span class="ls__burn ls__element"></span>
      </li>
      <li class="ls__shield-wrapper">
        <strong>Shields</strong>: 
      </li>
      <li>
        <strong>Modifiers</strong>:
        <span class="ls__modifier-name"></span> – <span class="ls__modifier-desc"></span>
      </li>
    </ul>

    <a href="/sector" class="readmore">See full details →</a>


</article>

</main>


<script src="https://cdn.jsdelivr.net/npm/js-confetti@0.8.0/dist/js-confetti.browser.js"></script>
<script src="/js/rotation2.js"></script>


